<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}</title>

		{% load staticfiles %}
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" media="screen" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" media="screen" href="{% static 'css/sweetalert.css' %}">
		<link rel="stylesheet" media="screen" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" media="screen" href="{% static 'css/remodal.css' %}">
		<link rel="stylesheet" media="screen" href="{% static 'css/remodal-default-theme.css' %}">
		{% block css %}{% endblock %}
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		{% block content %}{% endblock %}
		<!-- jQuery -->
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/lazyload.min.js' %}"></script>
		<script src="{% static 'js/sweetalert.min.js' %}"></script>
		<script src="{% static 'js/remodal.min.js' %}"></script>
		{% block js %}{% endblock %}
		<script type="text/javascript"> 
			jQuery(document).ready( 
				function($){ 
					$("img").lazyload({
						placeholder : "/static/images/loading.gif",
						effect : "fadeIn"
					}); 
			}); 
		</script> 

	</body>
</html>